
    <div>
        <table class="table" border="1" style="border-style:inherit">
            <tr>
                <td>
                    <img src="~/images/Asmitha.jpg" alt="Asmitha">
                    <p> Asmitha Baskaran </p>
                    <p> MS in Business Analytics and Information Systems </p>
                    <p> Asmitha worked on the About Us page as well as generating some of the content for the other pages.</p>
                </td>
                <td>
                    <img src="~/images/Mandeep.jpg" alt="Mandeep">
                    <p> Mandeep Singh </p>
                    <p> MS in Business Analytics and Information Systems </p>
                    <p> Mandeep hardcoded the data to form the data tables and created the graph for our visualization page.</p>
                </td>
                <td>
                    <img src="~/images/Zak.jpg" alt="Zak">
                    <p> Zakaria El Jbari</p>
                    <p> MS in Business Analytics and Information Systems </p>
                    <p> Zak was the team leader.</p>
                </td>
            </tr>
        </table>
    </div>

    <p>
        Please click on this <A HREF="https://github.com/zeljbari/Assignment4">
            Link
        </A>  to view the Git repository for this project.
    </p>

