
    <div>
        <table class="table" border="1" style="border-style:inherit">
            <tr>
                <td>
                    <img src="~/images/Asmitha.jpg" alt="Asmitha">
                    <p> Asmitha Baskaran </p>
                    <p> MS in Business Analytics and Information Systems </p>
                    <p>
                        Asmitha's main tasks revolved around the code necessary for the Chart class, controller method, and
                        view. She also was in charge of deploying the application to Azure.
                    </p>
                </td>
                <td>
                    <img src="~/images/Zak.jpg" alt="Zak">
                    <p> Zakaria El Jbari</p>
                    <p> MS in Business Analytics and Information Systems </p>
                    <p>
                        Zak was the team leader in charge of enforcing deadlines and assigning tasks.
                        He also handled all API and Database related code as well wrote the main controller actions for this project.
                    </p>
                </td>
                <td>
                    <img src="~/images/Mandeep.jpg" alt="Mandeep">
                    <p> Mandeep Singh </p>
                    <p> MS in Business Analytics and Information Systems </p>
                    <p> Mandeep handled the css and html styling for this web application.
                    He also contributed to editing the overall project.</p>
                </td>

            </tr>
        </table>
    </div>

    <p>
        Please click on this <A HREF="https://github.com/zeljbari/Assignment4_Practice">
            Link
        </A>  to view the Git repository for this project.
    </p>

